{% extends 'base.html' %}

{% block content %}


      <!-- banner bg main start -->
     {% include 'banner.html' %}
      <!-- banner bg main end -->
      <!-- fashion section start -->
      {% include 'fashion.html' %}
      <!-- fashion section end -->
      <!-- electronic section start -->
      {% include 'electronic.html' %}
      <!-- electronic section end -->
      <!-- jewellery  section start -->
     {% include 'jewellery.html' %}
      <!-- jewellery  section end -->
      <!-- footer section start -->
     {% include 'footer.html' %}
{% endblock %}
